@font-face {
    font-family: "Mono Space";
    src: url(../fonts/Space_Mono/SpaceMono-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Mono Space";
    src: url(../fonts/Space_Mono/SpaceMono-Bold.ttf);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Mono Space";
    src: url(../fonts/Space_Mono/SpaceMono-Italic.ttf);
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Mono Space";
    src: url(../fonts/Space_Mono/SpaceMono-Bold.ttf);
    font-style: italic;
    font-weight: bold;
}