@import url(./font.css);
@import url(./themes.css);

body {
    padding: 0;
    margin: 0;
    font-family: "Mono Space";
    header {
        padding-left:10px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        height: 85px;
        header {
            float: left;
            height: 100%;
            align-content: center;
        }
        section {
            padding-right: 5px;
            height: 100%;
            align-content: center;
            div {
                float: right;
                height: 70%;
                border-left: dotted 5px;
            }
            a {
                text-align: center;
                float: right;
                margin: 7px;
                padding: 10px;
            }
        }
    }
    main {
        min-height: calc(100vh - 85px - 34px - 40px);
        padding: 20px;
        article {
            margin-left: auto;
            margin-right: auto;
            max-width: 1000px;
            h2 {
                text-align: center;
            }
            p {
                text-align: justify;
            }
            
        }
        .post {
                box-shadow: 10px 15px 10px #000000ad;
                border-radius: 20px;
                margin-bottom: 40px;
                padding: 20px;
                p{
                    padding: 15px;
                }
                .date{
                    text-align: right;
                }
                .subtitle {
                    text-align: right;
                }
        }
    }
}

footer {
    text-align: center;
    clear: both;
    padding: 5px;
}